{% extends './layout.html' %}

{% block title%} Meta {%endblock%}
{% block css%}<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">{%endblock%}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script> -->
{% endblock %}
{% block body %}
<div class="container">
    <div class="entorno">
        <button id="C42" class="fin"></button>
        <button id="C41" class="peligro" onclick="juego(41)"></button>
        <button id="C40" class="peligro" onclick="juego(40)"></button>
        <button id="C39" class="normal" onclick="juego(39)"></button>
        <button id="C38" class="normal" onclick="juego(38)"></button>
        <button id="C37" class="avance" onclick="juego(37)"></button>
        <button id="C36" class="normal" onclick="juego(36)"></button>
        <button id="C35" class="volver" onclick="juego(35)"></button>
        <button id="C34" class="normal" onclick="juego(34)"></button>
        <button id="C33" class="pregunta" onclick="juego(33)"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button id="C32" class="normal" onclick="juego(32)"></button>
        <button id="C22" class="pregunta" onclick="juego(22)"></button>
        <button id="C23" class="normal" onclick="juego(23)"></button>
        <button id="C24" class="normal" onclick="juego(24)"></button>
        <button id="C25" class="avance" onclick="juego(25)"></button>
        <button id="C26" class="normal" onclick="juego(26)"></button>
        <button id="C27" class="normal" onclick="juego(27)"></button>
        <button id="C28" class="pregunta" onclick="juego(28)"></button>
        <button id="C29" class="volver" onclick="juego(29)"></button>
        <button id="C30" class="normal" onclick="juego(30)"></button>
        <button id="C31" class="normal" onclick="juego(31)"></button>
        <button id="C21" class="normal" onclick="juego(21)"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button id="C20" class="avance" onclick="juego(20)"></button>
        <button id="C19" class="normal" onclick="juego(19)"></button>
        <button id="C18" class="pregunta" onclick="juego(18)"></button>
        <button id="C17" class="normal" onclick="juego(17)"></button>
        <button id="C16" class="volver"onclick="juego(16)"></button>
        <button id="C15" class="normal" onclick="juego(15)"></button>
        <button id="C14" class="normal" onclick="juego(14)"></button>
        <button id="C13" class="pregunta" onclick="juego(13)"></button>
        <button id="C12" class="normal"  onclick="juego(12)"></button>
        <button id="C11" class="pregunta" onclick="juego(11)"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button class="vacio"></button>
        <button id="C10" class="normal"  onclick="juego(10)"></button>
        <button id="C0" class="inicio"></button>
        <button id="C1" class="normal"  onclick="juego(1)"></button> 
        <button id="C2" class="normal"  onclick="juego(2)"></button>
        <button id="C3" class="pregunta" onclick="juego(3)"></button>
        <button id="C4" class="normal"  onclick="juego(4)"></button>
        <button id="C5" class="volver"  onclick="juego(5)"></button>
        <button id="C6" class="normal"  onclick="juego(6)"></button>
        <button id="C7" class="avance" onclick="juego(7)"></button>
        <button id="C8" class="normal"  onclick="juego(8)"></button>
        <button id="C9" class="pregunta" onclick="juego(9)"></button>
    </div>
    <button id="btn" class="boton"></button>
    <div id="pregunta">
        <div class="pregunta-texto"><p id='pregunta-principal' class="texto-preguntaprincipal"></p></div>
        <form class="respuesta-texto"> 
            <div class="container-respuesta"><label for="res1"><input type="radio" name="respuesta" id="res1" class="respuesta1" value="res1"><p id="texto-respuesta1"></p></label></div>
            <div class="container-respuesta"><label for="res2"><input type="radio" name="respuesta" id="res2" class="respuesta2" value="res2"><p id="texto-respuesta2"></p></label></div>
            <div class="container-respuesta"><label for="res3"><input type="radio" name="respuesta" id="res3" class="respuesta3" value="res3"><p id="texto-respuesta3"></p></label></div>
            <button type="button" id="btn-respuesta" class="boton">Enviar</button>
        </form>
    </div>
    <div id="ganador"></div>
    <div id="player1"></div>
    <div id="player2"></div>
</div>
{% block script %}    
    <script src="{{ url_for('static',filename='script.js') }}"></script>
{% endblock %}
{% endblock %}